<div class="d-flex flex-column align-items-center chat m-0">
    <button mat-raised-button color="default" class="m-0">
        <img src="https://png.icons8.com/color/chat/24" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/hand/28" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/question--v2/28" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/ok-hand/28" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/smiling/28" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/crying--v2/28" alt="mark">
    </button>
    <button mat-mini-fab color="default">
        <img src="https://png.icons8.com/color/bored/28" alt="mark">
    </button>
</div>