.board {
    height: 488px;
    width: 324px;
    min-width: 324px;
    max-width: 324px;
}

.card {
    height: 112.5px;
    width: 71.25px;
    min-width: 71.25px;
    background-position: center;
    background-size: cover;
}

.chip {
    display: none;
    align-items: center;
    flex-direction: column;
}

.selected > .chip {
    display: flex;
}