<div *ngIf="board">
    <mat-toolbar color="accent">
        <mat-toolbar-row *ngIf="!board.gameStarted" class="d-flex justify-content-between mat-elevation-z4">
            <div class="text-truncate">
                <a href="#" [routerLink]="['/']">
                    <img src="https://png.icons8.com/cotton/watermelon--v1/32" alt="logo" class="pb-2">
                </a>
                <small> {{ board.name }}</small>
            </div>
            <div>
                <button *ngIf="player" mat-flat-button (click)="updateName()">{{ player.name }}</button>
                <button mat-mini-fab color="default" type="button" (click)="shuffleBoard()"
                        matTooltip="Crea otro tablero" matTooltipPosition="before"
                        [disabled]="board.gameStarted" class="ml-2">
                    <img src="https://png.icons8.com/cotton/synchronize--v2/24" alt="mezclar">
                </button>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="player" class="d-flex justify-content-between" color="primary">
            <mat-chip-list>
                <mat-chip  *ngIf="board.gameWon && board.gameStarted"
                        color="primary" selected="true"
                        [matTooltip]="getWinners()"
                        matTooltipPosition="below">
                    Ganadores</mat-chip>
            </mat-chip-list>
            <div class="d-flex align-items-center">
                <mat-chip-list>
                    <mat-chip *ngIf="!board.gameStarted" color="warn" selected>
                        <img src="https://png.icons8.com/color/hourglass-sand-bottom/24" alt="Por iniciar">
                        <span class="ml-1">Por iniciar</span>
                    </mat-chip>
                    <mat-chip *ngIf="board.gameStarted" color="primary" selected>
                        <img src="https://png.icons8.com/color/in-progress--v1/24" alt="Iniciado">
                        <span class="ml-1">Juego iniciado</span>
                    </mat-chip>
                </mat-chip-list>
                <button mat-mini-fab color="default" (click)="showHistory()" class="ml-2"
                        [disabled]="!board.gameStarted">
                    <img src="https://png.icons8.com/color/product-documents/24" alt="historial de cartas">
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="player" class="d-flex justify-content-center pt-2">
        <div class="board d-flex flex-wrap shadow-lg p-2 justify-content-between align-items-center rounded border bg-light">
            <div *ngFor="let card of player.playerBoard" [ngClass]="{'selected': card.selected}"
                class="card justify-content-center border border-dark" matRipple (click)="cardSelected(card)"
                [style.background-image]="card.url | uriStyleSanitizer">
                <div class="chip">
                    <img src="https://png.icons8.com/flat_round/star--v3/38" alt="mark">
                </div>
            </div>
        </div>
    </div>
</div>