<div *ngIf="board">
    <mat-toolbar color="accent">
        <mat-toolbar-row class="mat-elevation-z4 d-flex justify-content-between">
            <div class="text-truncate">
                <a href="#" [routerLink]="['/']">
                    <img src="https://png.icons8.com/cotton/watermelon--v1/32" alt="logo" class="pb-2">
                </a>
                <small> {{ board.name }}</small>
            </div>
            <button mat-mini-fab color="default" (click)="copyAndShare()">
                <img *ngIf="!canShare()" src="https://png.icons8.com/cotton/copy/24" alt="copiar">
                <img *ngIf="canShare()" src="https://png.icons8.com/color/share-3/24" alt="copiar">
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="players && players.length > 0" class="d-flex justify-content-between">
            <div>
                <mat-chip-list *ngIf="board.gameWon && board.gameStarted">
                    <mat-chip color="primary" selected="true"
                            [matTooltip]="getWinners()" matTooltipPosition="right">
                        Ganadores</mat-chip>
                </mat-chip-list>
            </div>
            <div>
                <button *ngIf="board.gameStarted" mat-mini-fab color="default" type="button" class="ml-2"
                        (click)="finishGame()" [disabled]="!board.gameWon && playingCards.length > 0">
                    <img src="https://png.icons8.com/color/stop-squared/24" alt="configuracion">
                </button>
                <button mat-mini-fab color="default" (click)="openSettings()" class="ml-2">
                    <img src="https://png.icons8.com/cotton/wrench--v2/24" alt="configuracion">
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="!players || players.length === 0; else playersArrived" class="d-flex justify-content-center mt-5">
        <div class="d-flex flex-column justify-content-around p-3 bg-light text-muted text-center deck mat-elevation-z1">
            <span class="h3"><strong>Esperando al primer jugador</strong></span>
            <span class="h5">Da clic en el botón de compartir</span>
        </div>
    </div>
    <ng-template #playersArrived>
        <div class="d-flex m-3 justify-content-between">
            <mat-chip-list [matBadge]="players.length" [matTooltip]="getPlayers()">
                <mat-chip color="accent" selected="true">En línea</mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="board.gameStarted">
                <mat-chip color="accent" selected="true">Cartas {{ calculateRest() }}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="d-flex justify-content-center">
            <div *ngIf="!board.gameStarted; else gameStarted" class="d-flex flex-column align-items-center ml-2">
                <span class="d-flex justify-content-center align-items-center deck bg-light">
                    Da clic en iniciar
                    <button *ngIf="!board.gameStarted" mat-mini-fab color="default" type="button" class="ml-2"
                            (click)="startGame()">
                        <img src="https://png.icons8.com/color/start/24" alt="configuracion">
                    </button>
                </span>
            </div>
            <ng-template #gameStarted>
                <div *ngIf="cards && playingCards" class="ml-2">
                    <div *ngIf="playingCards.length === 0; else cardsLeft" class="d-flex flex-column align-items-center">
                        <span class="d-flex justify-content-center align-items-center deck shadow-lg bg-light border border-dark rounded">
                            <img src="https://png.icons8.com/color/galo-de-barcelos/128" alt="mezclar">
                        </span>
                    </div>
                    <ng-template #cardsLeft>
                        <div *ngIf="playingCards" class="d-flex flex-column align-items-center">
                            <div class="deck shadow-lg border border-dark rounded" matRipple (click)="nextCard()"
                                [style.background-image]="playingCards[playingCards.length - 1].url | uriStyleSanitizer">
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </ng-template>
</div>